.notification-main-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.profile-notification-content {
    display: flex;
    align-items: center;
}

.profile-notification {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    flex-shrink: 0;
}

.notification-text {
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5px;
}

.notification-time {
    font-size: 8px;
    font-family: 'Times New Roman', Times, serif;
}

.notification-time-three-dots {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}